<h1>New Task</h1>
<%= form_with model: [@category, @task], local: true do |f| %>
        <p>
            <% if @task.errors.any? %>
                <ul>
                    <% @task.errors.full_messages.each do |message| %>
                        <li><%= message %></li>    
                    <% end %>
                </ul>
            <% end %>
        </p>
    <br />
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <br />
    <div>   
        <%= f.label :body %>
        <%= f.text_field :body %>
    </div>
    <br />
    <div class="field">
        <%= f.label :task_date %>
        <%= f.date_select :task_date %>
    </div>
    <br />
    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', category_path(@category) %>
