<h1>Categories</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <% @categories.each do |category| %>
            <tr>
                <td><%= category.id %></td>
                <td><%= category.name %></td>
                <td>| <%= link_to 'Edit', edit_category_path(category) %>|</td>
                <td>|<%= link_to 'Show', category_path(category) %>|</td>
                <td>|<%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: "Are you sure?"} %>|</td>
            </tr>
        <% end %>
    </tbody>
</table>
<br />

<h2>Tasks For Today</h2>
<% if @dueToday.length > 1 %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <% @dueToday.each do |due| %>
            <tr>
                <td><%= due.name %></td>
                <td><%= due.body %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %> 
    <p>No Task/s available for now</p>
<% end %>

<br />
<br />
<%= link_to 'Back to Home page', root_path %> |
<%= link_to 'New Category', new_category_path %>
